USE [master]
GO
/****** Object:  Database [ImportDE]    Script Date: 25.11.2025 14:44:27 ******/
CREATE DATABASE [ImportDE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ImportDE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ImportDE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ImportDE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ImportDE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImportDE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImportDE]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[PostalIndex] [int] NULL,
	[City] [nvarchar](255) NULL,
	[Street] [nvarchar](255) NULL,
	[House] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryName] [nvarchar](255) NULL,
	[ID_Category] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerName] [nvarchar](255) NULL,
	[ID_Manufacturer] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID_Manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[NumberSostav] [int] NULL,
	[DateOrder] [datetime] NULL,
	[DateDel] [datetime] NULL,
	[AddressPVZ] [int] NULL,
	[CodePoluch] [int] NULL,
	[Status] [int] NULL,
	[ID_order] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavchick]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavchick](
	[SupplierName] [nvarchar](255) NULL,
	[ID_Supplier] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Postavchick] PRIMARY KEY CLUSTERED 
(
	[ID_Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_Name] [nvarchar](255) NULL,
	[ID_Role] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sostav]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sostav](
	[NumberSostav] [int] NULL,
	[Articul] [nvarchar](255) NULL,
	[Count] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Sostav] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusName] [nvarchar](255) NULL,
	[ID_Status] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[TitleName] [nvarchar](255) NULL,
	[ID_Title] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[ID_Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[Title] [int] NOT NULL,
	[Edinica] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Supplier] [int] NOT NULL,
	[Manufacturer] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[Sale] [float] NULL,
	[CountOnSklad] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
	[ID_Tovar] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[ID_Tovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Order]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Order](
	[ID_UO] [int] IDENTITY(1,1) NOT NULL,
	[ID_Order] [int] NULL,
	[ID_User] [int] NULL,
 CONSTRAINT [PK_User_Order] PRIMARY KEY CLUSTERED 
(
	[ID_UO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Roles]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Roles](
	[ID_UR] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NULL,
	[ID_Role] [int] NULL,
 CONSTRAINT [PK_User_Roles] PRIMARY KEY CLUSTERED 
(
	[ID_UR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.11.2025 14:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Role] [int] NULL,
	[Login] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[Patronymic] [nvarchar](255) NULL,
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([PostalIndex], [City], [Street], [House], [ID]) VALUES (420151, N'  Лесной', N'  Вишневая', 32, 1)
INSERT [dbo].[Address] ([PostalIndex], [City], [Street], [House], [ID]) VALUES (125061, N'  Лесной', N'  Подгорная', 8, 2)
INSERT [dbo].[Address] ([PostalIndex], [City], [Street], [House], [ID]) VALUES (630370, N'  Лесной', N'  Шоссейная', 24, 3)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryName], [ID_Category]) VALUES (N'Женская обувь', 1)
INSERT [dbo].[Category] ([CategoryName], [ID_Category]) VALUES (N'Мужская обувь', 2)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ManufacturerName], [ID_Manufacturer]) VALUES (N'Kari', 1)
INSERT [dbo].[Manufacturer] ([ManufacturerName], [ID_Manufacturer]) VALUES (N'Marco Tozzi', 2)
INSERT [dbo].[Manufacturer] ([ManufacturerName], [ID_Manufacturer]) VALUES (N'Рос', 3)
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([NumberSostav], [DateOrder], [DateDel], [AddressPVZ], [CodePoluch], [Status], [ID_order]) VALUES (1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 901, 1, 1)
INSERT [dbo].[Order] ([NumberSostav], [DateOrder], [DateDel], [AddressPVZ], [CodePoluch], [Status], [ID_order]) VALUES (2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 902, 1, 2)
INSERT [dbo].[Order] ([NumberSostav], [DateOrder], [DateDel], [AddressPVZ], [CodePoluch], [Status], [ID_order]) VALUES (3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 903, 1, 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Postavchick] ON 

INSERT [dbo].[Postavchick] ([SupplierName], [ID_Supplier]) VALUES (N'Kari', 1)
INSERT [dbo].[Postavchick] ([SupplierName], [ID_Supplier]) VALUES (N'Обувь для вас', 2)
SET IDENTITY_INSERT [dbo].[Postavchick] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_Name], [ID_Role]) VALUES (N'Администратор', 1)
INSERT [dbo].[Roles] ([Role_Name], [ID_Role]) VALUES (N'Менеджер', 2)
INSERT [dbo].[Roles] ([Role_Name], [ID_Role]) VALUES (N'Авторизированный клиент', 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sostav] ON 

INSERT [dbo].[Sostav] ([NumberSostav], [Articul], [Count], [ID]) VALUES (1, N'А112Т4', 2, 1)
INSERT [dbo].[Sostav] ([NumberSostav], [Articul], [Count], [ID]) VALUES (1, N'F635R4', 2, 2)
INSERT [dbo].[Sostav] ([NumberSostav], [Articul], [Count], [ID]) VALUES (2, N'H782T5', 1, 3)
SET IDENTITY_INSERT [dbo].[Sostav] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusName], [ID_Status]) VALUES (N'Завершен', 1)
INSERT [dbo].[Status] ([StatusName], [ID_Status]) VALUES (N'Новый ', 2)
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([TitleName], [ID_Title]) VALUES (N'Ботинки', 1)
INSERT [dbo].[Title] ([TitleName], [ID_Title]) VALUES (N'Туфли', 2)
INSERT [dbo].[Title] ([TitleName], [ID_Title]) VALUES (N'Кроссовки', 3)
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
SET IDENTITY_INSERT [dbo].[Tovar] ON 

INSERT [dbo].[Tovar] ([Title], [Edinica], [Price], [Supplier], [Manufacturer], [Category], [Sale], [CountOnSklad], [Description], [Photo], [ID_Tovar]) VALUES (1, N'шт.', 4990, 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'C:\Users\roman\source\repos\testDemoYP\testDemoYP\pagesFr\photo\1.jpg', 1)
INSERT [dbo].[Tovar] ([Title], [Edinica], [Price], [Supplier], [Manufacturer], [Category], [Sale], [CountOnSklad], [Description], [Photo], [ID_Tovar]) VALUES (1, N'шт.', 3244, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'C:\Users\roman\source\repos\testDemoYP\testDemoYP\pagesFr\photo\2.jpg', 2)
INSERT [dbo].[Tovar] ([Title], [Edinica], [Price], [Supplier], [Manufacturer], [Category], [Sale], [CountOnSklad], [Description], [Photo], [ID_Tovar]) VALUES (7, N'шт.', 4499, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'C:\Users\roman\source\repos\testDemoYP\testDemoYP\pagesFr\photo\3.jpg', 3)
SET IDENTITY_INSERT [dbo].[Tovar] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Roles] ON 

INSERT [dbo].[User_Roles] ([ID_UR], [ID_User], [ID_Role]) VALUES (1, 1, 1)
INSERT [dbo].[User_Roles] ([ID_UR], [ID_User], [ID_Role]) VALUES (2, 2, 1)
INSERT [dbo].[User_Roles] ([ID_UR], [ID_User], [ID_Role]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[User_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Role], [Login], [Password], [LastName], [FirstName], [Patronymic], [ID_User]) VALUES (1, N'94d5ous@gmail.com', N'uzWC67', N'Никифорова', N'Весения', N'Николаевна', 1)
INSERT [dbo].[Users] ([Role], [Login], [Password], [LastName], [FirstName], [Patronymic], [ID_User]) VALUES (1, N'uth4iz@mail.com', N'2L6KZG', N'Сазонов', N'Руслан', N'Германович', 2)
INSERT [dbo].[Users] ([Role], [Login], [Password], [LastName], [FirstName], [Patronymic], [ID_User]) VALUES (1, N'yzls62@outlook.com', N'JlFRCZ', N'Одинцов', N'Серафим', N'Артёмович', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([AddressPVZ])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Sostav] FOREIGN KEY([NumberSostav])
REFERENCES [dbo].[Sostav] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Sostav]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([ID_Status])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Sostav]  WITH CHECK ADD  CONSTRAINT [FK_Sostav_Tovar] FOREIGN KEY([NumberSostav])
REFERENCES [dbo].[Tovar] ([ID_Tovar])
GO
ALTER TABLE [dbo].[Sostav] CHECK CONSTRAINT [FK_Sostav_Tovar]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([ID_Category])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Category]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Manufacturer] FOREIGN KEY([Manufacturer])
REFERENCES [dbo].[Manufacturer] ([ID_Manufacturer])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Manufacturer]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Postavchick] FOREIGN KEY([Supplier])
REFERENCES [dbo].[Postavchick] ([ID_Supplier])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Postavchick]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Title] FOREIGN KEY([Title])
REFERENCES [dbo].[Title] ([ID_Title])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Title]
GO
ALTER TABLE [dbo].[User_Order]  WITH CHECK ADD  CONSTRAINT [FK_User_Order_Order] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Order] ([ID_order])
GO
ALTER TABLE [dbo].[User_Order] CHECK CONSTRAINT [FK_User_Order_Order]
GO
ALTER TABLE [dbo].[User_Order]  WITH CHECK ADD  CONSTRAINT [FK_User_Order_Users] FOREIGN KEY([ID_User])
REFERENCES [dbo].[Users] ([ID_User])
GO
ALTER TABLE [dbo].[User_Order] CHECK CONSTRAINT [FK_User_Order_Users]
GO
ALTER TABLE [dbo].[User_Roles]  WITH CHECK ADD  CONSTRAINT [FK_User_Roles_Roles] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Roles] ([ID_Role])
GO
ALTER TABLE [dbo].[User_Roles] CHECK CONSTRAINT [FK_User_Roles_Roles]
GO
ALTER TABLE [dbo].[User_Roles]  WITH CHECK ADD  CONSTRAINT [FK_User_Roles_Users] FOREIGN KEY([ID_User])
REFERENCES [dbo].[Users] ([ID_User])
GO
ALTER TABLE [dbo].[User_Roles] CHECK CONSTRAINT [FK_User_Roles_Users]
GO
ALTER TABLE [dbo].[User_Roles]  WITH CHECK ADD  CONSTRAINT [FK_User_Roles_Users1] FOREIGN KEY([ID_User])
REFERENCES [dbo].[Users] ([ID_User])
GO
ALTER TABLE [dbo].[User_Roles] CHECK CONSTRAINT [FK_User_Roles_Users1]
GO
USE [master]
GO
